<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">   
    <script src="https://unpkg.com/vue@3"></script>
    <title>En blanco</title>
    
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="facebookk">
        <!-- Favorites -->
        <div class="favorites">
            <!--favoritos de abajo es Favoritos Map-->
            <div class="favorite" v-for="alias in  TodosFavoritos">
                <a href="">
                    <img :src="resultado.picture.data.url" :alt="alias.login" class="favorite__avatar">
                    
                </a>
            </div>

        </div>

        <!-- Content -->
        <body class="content">
            <h1 class="content__title">Buscar Usuarios de Facebook</h1>
            
            <!-- Search -->
            <form class="search" v-on:submit.prevent="Buscar">
                <input type="number" v-model="busqueda" class="search__input" required placeholder="ID de user, example 123454545">
                <input type="submit" class="search__submit" value="Buscar">
            </form>
            <section class="md:h-full flex items-center text-gray-600">
                <div class="container px-5 py-24 mx-auto">

            <!-- Resultado  aqui va lo del video-->
                    <div class="result" v-if="resultado">
                        <a v-if="esFavorito" href="" class="result__toggle-favorite" @click.prevent="removerfavorito">Eliminar favoritos <img src="" width="30" height="30" alt="">
                        <a v-if="favoritos.has(resultado.id)" href="" class="result__toggle-favorite" @click.prevent="removerfavorito">Eliminar favoritos <img src="img/estrellada.png" width="30" height="30" alt=""></a>
                        <a v-else href="" class="result__toggle-favorite" @click.prevent="addFavorito">Añadir a favoritos <img src="img/estrella.png" width="30" height="30" alt=""></a>
                        <h2 class="result__name">{{resultado.name}}</h2>
                        <img :src="resultado.picture.data.url" alt="" width="100" class="result__avatar class="lg:h-72 md:h-48 w-full object-cover object-center="">
                        <h6 class="result__email">{{resultado.email}}</h6>
                        
                    
                    
                        <p class="result__bio"> {{resultado.bio}}
                            <br>
                            <a :href="resultado.html_url" target="blank" class="result__blog">Perfil del usuario</a>
                        </p>
                            
                    </div>
                    <p v-else>Esperando la búsqueda</p>
                    <!-- Error -->
                    <div v-show="fail" class="result__error" >{{fail}}</div>
            
            
                    

            
</body>
    </div>
    <script src="js/main.js"></script>
    <script>
        const facebookMontado = facebook.mount('#facebookk')
    </script>
</body>

</html>